/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
@media(min-width: 769px){
  .banner-bg{
      background: url(../../static/img/icons/banner-bg-icon.svg) no-repeat right top #29134E;
      background-size: 30%;
  }
}
.docs-wrapper h1{
  font-weight: 600 !important;
  font-size: 32px !important;
}
.docs-wrapper h2{
  font-weight: 600;
  font-size: 24px;
}
nav.menu .menu__list{
  font-size: 14px;
}
.menu__list li{
  padding-top: 5px;
  padding-bottom: 5px;
}
nav.menu .menu__link{
  align-items: center !important;
  padding-top: 8px;
  padding-bottom: 8px;
}
nav.menu .menu__list li{
  padding-top: 2px;
  padding-bottom: 2px;
}
.table-of-contents__link--active, .theme-doc-sidebar-menu.menu__list>li>.menu__list-item-collapsible>.menu__link--active, .navbar__item.navbar__link:hover{
  color: #5E5EDD;
}
.theme-doc-sidebar-menu.menu__list>li>.menu__link--active{
  color: #5E5EDD;
  background-color: transparent;
}
.theme-doc-sidebar-menu.menu__list .menu__list .menu__link--active{
  color: #606770;
  background-color: #F5F0FF;
}
.nav-search .DocSearch-Button-Keys{
  display: none;
}
.nav-search .DocSearch-Button-Placeholder{
  color: gray;
  font-size: 14px;
}
.navbar .DocSearch-Button:active, .navbar .DocSearch-Button:focus, .navbar .DocSearch-Button:hover {
  box-shadow: 0px 0px 0px 2px #5E5EDD !important;
}
.search-wrapper .DocSearch-Button:active, .search-wrapper .DocSearch-Button:focus, .search-wrapper .DocSearch-Button:hover {
  box-shadow: 0px 0px 0px 2px #5E5EDD !important;
}
.search-wrapper .searchBox_src-theme-SearchBar-styles-module{
  padding: 0px;
}
.search-wrapper .DocSearch-Button{
  background-color: #fff;
}
.nav-search .DocSearch-Search-Icon{
  opacity: 0.5;
  width: 18px;
}
.DocSearch-Input:focus{
  box-shadow: none;
  border: none;
}
.DocSearch-Form{
  border: 1px solid #5E5EDD !important;
  box-shadow: 0px 0px 0px 3px #e6dcfd !important;
  outline: none;
}
.breadcrumb-custom .breadcrumbs__link{
  border-radius: 6px;
}
.breadcrumb-custom .breadcrumbs__link:hover, .breadcrumb-custom .breadcrumbs__item--active .breadcrumbs__link, .DocSearch-Search-Icon{
  color: #5E5EDD;
}
@media (max-width: 750px){
  .DocSearch-Cancel{
    color: #5E5EDD !important;
  }
}
.DocSearch-Footer{
  display: none !important;
}
.DocSearch-SearchBar .DocSearch-Form{
  height: 40px;
  font-size: 14px;
}
.DocSearch-Input{
  font-family: 'Inter', sans-serif !important;
}
.DocSearch-Form .DocSearch-MagnifierLabel svg{
    width: 18px;
}
.pagination-nav .pagination-nav__label{
    color: #5E5EDD;
    font-size: 14px;
}
.pagination-nav{
  justify-content: space-between;
}
.pagination-nav .pagination-nav__item{
    max-width: 250px;
}
.pagination-nav__link{
  padding-top: 12px;
  padding-bottom: 12px;
  background: #F8F8F8;
  text-align: left;
}
.theme-doc-footer-edit-meta-row a{
  color: #5E5EDD;
}
.pagination-nav .pagination-nav__link:hover{
  /* background-color: #F5F0FF; */
  border-color: #5E5EDD;
}
.pagination-nav .pagination-nav__label{
  color: #000000;
  font-size: 16px;
}
.pagination-nav__sublabel{
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 12px;
  color: #000000;
  display: flex;
  align-items: center;
}
.navbar .navbar__link--active{
  background: #F5F0FF;
  box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04);
  border-radius: 6px;
  color: #5E5EDD;
}
.pagination-nav__item--next .pagination-nav__label::after{
  display: none;
}
.pagination-nav__item:first-child .pagination-nav__label::before {
  display: none;
}
.pagination-nav__item--next .pagination-nav__sublabel:after{
  content: "";
  width: 14px;
  height: 10px;
  background: url(../../static/img/icons/pagination-next.svg) no-repeat center center;
  margin-left: 8px;
}
.pagination-nav__item:first-child .pagination-nav__sublabel:before{
  content: "";
  width: 14px;
  height: 10px;
  background: url(../../static/img/icons/pagination-prev.svg) no-repeat center center;
  margin-right: 8px;
}


@media(max-width: 768px){
  .banner-bg{
      background: url(../../static/img/icons/mobile-banner-bg.svg) no-repeat center bottom -40px  #29134E;
      background-size: 100% 200px;
  }
  .col.footer__col{
    margin-bottom: 15px;
  }
  .pagination-nav{
    flex-direction: column;
  }
  .pagination-nav__item{
    max-width: 100% !important;
    margin-bottom: 15px;
    margin-left: 0px !important;
  }
  .theme-doc-toc-mobile .table-of-contents{
    background: #F5F0FF;
  }
  .theme-doc-toc-mobile .table-of-contents__link{
    color: #6A737D;
  }
  .theme-doc-toc-mobile .table-of-contents__link:hover{
    color: #5E5EDD;
  }
  .theme-doc-toc-mobile button{
    background: #F5F0FF;
    border-radius: 6px;
    color: #5E5EDD;
    font-size: 14px;
    font-weight: 700;
  }
}

.theme-doc-toc-desktop .table-of-contents__link:hover{
  color: #5E5EDD !important;
}
.theme-doc-markdown a{
  color: #5E5EDD !important;
}
.box-link-main{
  color: #24292E !important;
}
.box-link-main:hover{
  color: #5E5EDD !important;
  text-decoration: none !important;
}

.github-btn{
  padding: 10px !important;
  color: #484848;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin-left: 12px;
}
.github-btn:hover{
  text-decoration: none !important;
  background: #f1f1f1;
}

/* .col--3 .table-of-contents.table-of-contents__left-border{
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  max-width: 280px;
  width: 100%;
  float: right;
} */
.col article{
  padding-left: 12px;
  padding-right: 12px;
}
.breadcrumb-custom{
  margin-bottom: 15px;
}
.breadcrumb-custom .breadcrumbs__link{
  background-color: transparent;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500;
  font-size: 12px;
  padding: 0px;
}
.breadcrumbs__item:not(:last-child):after {
  content: "";
  width: 14px;
  height: 10px;
  background: url(../../static/img/icons/breadcrumb-arrow.svg) no-repeat center center;
  margin: 0 12px;
  opacity: 1 !important;
  display: inline-flex;
  position: relative;
  top: 1px;
}
.docs-wrapper h1 {
  font-size: 30px !important;
}
.breadcrumbs__item:not(.breadcrumbs__item--active):hover .breadcrumbs__link {
  background: transparent;
}
.breadcrumbs__item:hover>span{
  color: rgba(0, 0, 0, 0.45) !important;
}

.menu__link--sublist:after{
  background-size: 22px;
  background-repeat: no-repeat;
}
button.clean-btn.tocCollapsibleButton_node_modules-\@docusaurus-theme-classic-lib-next-theme-TOCCollapsible-styles-module::after {
  background-size: 22px !important;
  background-repeat: no-repeat !important;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.primary-gradient-box{
  background: url(../../static/img/icons/block-image-doc.svg) no-repeat bottom right,linear-gradient(90.77deg, #D453B5 28.6%, rgba(212, 83, 181, 0) 78.06%), #5E5EDD;
}

.search-input{
  background: url(../../static/img/icons/search-icon.svg) no-repeat center right 16px #fff;
}
nav.menu .menu__caret:before{
  background-size: 22px !important;
  background-repeat: no-repeat;
}

li[class*=side-menu]>div>.menu__link{
  padding-left: 46px;
}
li[class*=side-menu]>div>.menu__link:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.side-menu-cli>div>.menu__link:before{
  background: url(../../static/img/icons/sidemenu-cli.svg) no-repeat center center;
}
.side-menu-cli>div>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-cli-primary.svg) no-repeat center center;
}
.side-menu-sdk>div>.menu__link:before{
  background: url(../../static/img/icons/sidemenu-sdk.svg) no-repeat center center;
}
.side-menu-sdk>div>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-sdk-primary.svg) no-repeat center center;
}
.side-menu-core>div>.menu__link:before{
  background: url(../../static/img/icons/sidemenu-core.svg) no-repeat center center;
}
.side-menu-core>div>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-core-primary.svg) no-repeat center center;
}
.side-menu-pf>div>.menu__link:before{
  background: url(../../static/img/icons/sidemenu-pf.svg) no-repeat center center;
}
.side-menu-pf>div>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-pf-primary.svg) no-repeat center center;
}
.side-menu-quick-start>div>.menu__link:before{
  background: url(../../static/img/icons/sidemenu-quick.svg) no-repeat center center;
}
.side-menu-quick-start>div>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-quick-primary.svg) no-repeat center center;
}
.side-menu-why-appblocks{
  position: relative;
}
.side-menu-why-appblocks>.menu__link{
  padding-left: 46px;
}
.side-menu-why-appblocks>.menu__link:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../static/img/icons/sidemenu-why-blocks.svg) no-repeat center center;
}
.side-menu-why-appblocks>.menu__link--active:before{
  background: url(../../static/img/icons/sidemenu-why-blocks-primary.svg) no-repeat center center;
}
.theme-doc-sidebar-menu.menu__list .menu__link--active {
  /* color: #606770 !important; */
  background-color: transparent;
}
.theme-doc-sidebar-menu .menu__list-item-collapsible:hover{
  /* background-color: transparent !important; */
}
/* .menu__list-item-collapsible + ul.menu__list > li{
  margin-top: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 9px;
}
.menu__list-item-collapsible + ul.menu__list > li> .menu__link{
  border-left: 2px solid rgba(72, 72, 72, 0.1);
  border-radius: 0;
  transition: border 0.1s linear;
}
.menu__list-item-collapsible + ul.menu__list > li> .menu__link:hover{
  background-color: transparent;
  color: #5E5EDE !important;
  text-decoration: underline !important;
}
.menu__list-item-collapsible + ul.menu__list > li> .menu__link--active {
  color: #5E5EDE !important;
  background-color: transparent !important;
  text-decoration: underline !important;
  border-left: 2px solid #5E5EDE;
} */
@media(min-width:997px){
  div[class^=sidebar_node_modules-]::before{
    content: "DOCUMENTATION";
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    padding: 24px 26px 6px;
    letter-spacing: 0.1em;
    color: rgba(72, 72, 72, 0.5);
  }
}