@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.visible{
  visibility: visible;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.float-left{
  float: left;
}

.clear-both{
  clear: both;
}

.m-0{
  margin: 0px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mt-6{
  margin-top: 1.5rem;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mb-1\.5{
  margin-bottom: 0.375rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-12{
  height: 3rem;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}

.max-w-7xl{
  max-width: 80rem;
}

.max-w-\[400px\]{
  max-width: 400px;
}

.max-w-\[320px\]{
  max-width: 320px;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.gap-x-6{
  column-gap: 1.5rem;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-0{
  border-width: 0px;
}

.border-x-0{
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-t-0{
  border-top-width: 0px;
}

.border-solid{
  border-style: solid;
}

.border-transparent{
  border-color: transparent;
}

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(94 94 221 / var(--tw-border-opacity));
}

.border-ab-gray-dark{
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(94 94 221 / var(--tw-bg-opacity));
}

.bg-\[\#24292E\]{
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 46 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.p-4{
  padding: 1rem;
}

.\!py-0{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.\!px-4{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.\!px-8{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5{
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.\!px-3{
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pr-12{
  padding-right: 3rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.text-left{
  text-align: left;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-ab-black{
  --tw-text-opacity: 1;
  color: rgb(72 72 72 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(94 94 221 / var(--tw-text-opacity));
}

.text-ab-black\/60{
  color: rgb(72 72 72 / 0.6);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

html,body{
  background-color: #FAFBFC;
  font-family: 'Inter', sans-serif !important;
}

.border-primary{
  border-color: #E1E4E8;
}

.border-green{
  border-color: #28A745;
}

.text-gray-dark{
  color: #24292E;
}

.text-gray-light{
  color: #6A737D;
}

.bg-gray-dark{
  background-color: #24292E;
}

.bg-gray-light{
  background-color: #FAFBFC;
}

.popup-bg{
  background: rgba(0,0,0,0.2);
}

.bg-green{
  background-color: #28A745
}

.text-purple{
  color: #6F42C1;
}

.text-blue{
  color: #0366D6;
}

.error-msg-bg{
  background-color: #FFDCE0;
}

.error-msg-border{
  border-color: #D73A49;
}

.has-error{
  border-color: #D73A49;
}

input:focus{
  border: 1px solid #5E5EDD;
  box-shadow: 0px 0px 0px 2px #E6DCFD;
}

.banner-bg{
  background-color: #29134E;
}

.primary-link-underline{
  color: #5E5EDD;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.hover\:bg-\[\#3A1D6E\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(58 29 110 / var(--tw-bg-opacity));
}

.hover\:bg-gray-50:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(94 94 221 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-\[\#1c1e21\]:hover{
  --tw-text-opacity: 1;
  color: rgb(28 30 33 / var(--tw-text-opacity));
}

.hover\:\!text-primary:hover{
  --tw-text-opacity: 1 !important;
  color: rgb(94 94 221 / var(--tw-text-opacity)) !important;
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.hover\:no-underline:hover{
  text-decoration-line: none;
}

.hover\:opacity-90:hover{
  opacity: 0.9;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px){
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:\!px-8{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px){
  .lg\:mb-4{
    margin-bottom: 1rem;
  }

  .lg\:inline-block{
    display: inline-block;
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:\!px-20{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}